<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Gaming Login Form Responsive Widget Template :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/template.css" rel="stylesheet" type="text/css" media="all">
  <link rel="stylesheet" href="/css/Login.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="pull-right toggle-right-sidebar">
    <span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
  </div>

  <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
    <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">

      <div id="w3lDemoBar" class="w3l-demo-bar">
        <div class="demo-btns">
          <a href="/">
            <span class="w3l-icon -back">
              <span class="fa fa-home"></span>
            </span>
            <span class="w3l-text">Home</span>
          </a>
          <a href="/newUser">
            <span class="w3l-icon -download">
              <span class="fa fa-sign-in"></span>
            </span>
            <span class="w3l-text">Sign Up</span>
          </a>
          <a href="/password" class="no-margin-bottom-mobile">
            <span class="w3l-icon -buy">
              <span class="fa fa-key"></span>
            </span>
            <span class="w3l-text">Forgot<br>Password</span>
          </a>
        </div>

      </div>
      <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
        style="overflow: hidden; outline: none;">
      </div>
    </div>
  </div>


  <div class="padding-all">
    <div class="header">
      <div class="heading-section">
        <h4><img src="/img/5.png" style="margin-top: -20px;" alt=" "><em>Welcome to </em>Endgame</h4>
      </div>
    </div>
    <form action="/admin" method="post" onsubmit="return otpVerify()">
      <div class="design-w3l" id="loginMain">
        <div class="mail-form-agile">
          <center>
            <div class="heading-section">
              <h4><em>Please </em> Login</h4>
            </div>
          </center>
          <center>
            <p id="errorShow" style="color: red;"></p>
          </center>
          <input type="text" id="mailbox" name="email" placeholder="Enter email...">
          <input type="password" id="Pass" name="password" class="padding" style="width: 80%;" placeholder="Password">
          <button class="Eyebtn" onclick="Eyefunc()" type="button">
            <i id="logo" class="fa fa-eye-slash"></i>
          </button>
          <input type="button" class="btn btn-danger p-2 px-3" onclick="adminVerification()" value="submit">
        </div>
        <div class="clear"> </div>
      </div>
  </div>

  <div class="design-w3l" id="otpBox" style="display: none;">
    <div class="mail-form-agile">
      <center>
        <div class="heading-section">
          <h4><em>Enter </em> OTP</h4>
        </div>
      </center>
      <center>
        <p id="otpError" style="color: red;"></p>
      </center>
      <input type="text" id="otp" name="otp" placeholder="Enter OTP...">
      <center>
        <p id="timer" style="color: red;"></p>
      </center>
      <input type="submit" value="Verify" class="d-block">
      <center>
        <button class="btn border-0 text-danger bg-transparent d-block" onclick="resendingAdmin()">Resend OTP</button>
      </center>
      </form>
    </div>
    <div class="clear"> </div>
  </div>
  </div>


  <script <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="/js/common.js"></script>
</body>

</html>