<!DOCTYPE html>
<html>
<head>
  <title>EndGame the GamerStore || sign up</title>
  <link rel='stylesheet' href='/css/Sign.css' />
  <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
  <script src="/js/common.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
  <div class="video-container" style="background-color: #000;">
    <center>
      <img src="/img/pexels-pixabay-459762.jpg" style="width:80%; border-radius: 30px; height: 90vh; object-fit: cover; margin-top: 5vh; border: 5px solid white;" alt="">
    </center>
  </div>
  <center>
    <div class="container w-100">
      <form id="signUpform" method="post" action="/otp" onsubmit="return otpVerify()">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="loginMain" id="loginMain">
              <span><img src="/img/End Game.jpg" class="image-fluid rounded-circle " style=" float: left;width: 80px;" alt=""></i></span>
              <div class="heading-section">
                <h4 style="margin-top: 2vh;"><em>Welcome to </em>Endgame</h4>
              </div>
              <input type="text" class="textbox" id="namebox" value="" name="name"  placeholder="Enter your Name" required>
              <input type="text" class="textbox" id="userbox" value="" name="username"  placeholder="Enter a Username" required>
              <input type="text" class="textbox" id="mailbox" value="" name="email"  placeholder="Enter your Email" required>
              <div class="input-container">
                <input type="password" id="Pass" class="password" name="password" value="" placeholder="Password" required>
              <button class="Eyebtn" onclick="Eyefunc()" type="button">
                <i id="logo" class="fa fa-eye-slash"></i>
              </button>
              <input type="password" id="Pass2" class="password" name="password2" value="" placeholder="Confirm Password" required style="margin-left: 10px;">
              <button class="Eyebtn" onclick="Eyefunc2()" type="button">
                <i id="logo2" class="fa fa-eye-slash"></i>
              </button>
              </div>
              <div class="input-container">
                
              </div>
              <div class="alreadyuser" style="margin-top: 20px;">
                <a href="/login" style=" color: aqua; font-size: 12px;">Already a user ?</a>
              </div>
              <div class="btnSection">
                <button class="submit" type="button" onclick="formVerify()"  id="subBtn">Sign Up</button>
              </div>
              <p style="color: red; font-size: 15px; margin-top: 30px;" id="errorShow"><%= err %></p>
            </div>
          </div>
        </div>
           <div class="container w-100">
                  <div class="otpBox" id="otpBox" style="height: auto;">
                  <input type="text" id="otp" value="" name="signUpOtp" placeholder="Enter Otp">
                  <p style="color: red;">0.<span id="timer"></span></p>
                  <button type="submit" style="width: 80%; margin-top: -20px;" id="subBtn">Verify</button>
                  <div class="alreadyuser" style="margin-top: 20px;">
                    <button onclick="resending()" type="button" style="border: 0; background: transparent; color: aqua; font-size: 15px;">Resend Otp</button>
                  </div>
                  <p style="color: red; font-size: 15px; margin-top: 30px;" id="otpError"></p>
              </div>
          </div>
      </form>
    </div>
  </center>
</body>
</html>
