<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/gamesJs.js"></script>


</body>

</html>